
<br><br><div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">{{teacher.name}}'s Dashboard</div>
        <div class="card-body">
          <div class="list-group">
            <a href="/teacher/markAttendance" class="list-group-item list-group-item-action">Mark Attendance</a><br>
            <a href="/teacher/attendanceRecords" class="list-group-item list-group-item-action">Check Attendance Record</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
