
<section class="hero-section py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="hero-heading">Teacher Attendance System</h1>
        <p class="hero-text">Streamline your attendance taking process with our easy-to-use platform.</p>
        <a href="/teacher/login" class="btn btn-primary hero-btn"><i class="bx bx-log-in me-2"></i>Teacher Login</a>
        <a href="/admin/login" class="btn btn-success hero-btn"><i class="bx bx-log-in me-2"></i>Admin Login</a>
      </div>
    </div>
  </div>
</section>



 



